.profile-info__edit-button {
    background-image: url(../../../images/edit-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 1px solid white;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    margin-bottom: 30px;
}

.profile-info__edit-button:focus {
    outline: 0px;
}

.profile-info__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 690px) {
    .profile-info__edit-button {
        margin-left: 10px;
        margin-bottom: 0;
        width: 18px;
        height: 18px;
    }
}
