.profile-info__edit-avatar {
    position: absolute;
    background-image: url(../../../images/pencil.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: transparent;
    height: 120px;
    width: 125px;
    background-color: black;
    opacity: 0.8;
    /* visibility: hidden; */
    display: none;
}

/* .profile-info__edit-avatar:hover {
    cursor: pointer;
} */